.search_input {
    display: flex;
    align-items: center;
    background-color: var(--elements-background-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px 32px;
    width: 100%;
    max-width: 420px;
}

.search_input svg {
    margin-right: 20px;
}

.search_input svg path {
    fill: var(--input-color);
}

.search_input input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: none;
    color: var(--text-color);
}

.search_input input::placeholder {
    color: var(--input-color);
}


@media only screen and (max-width: 600px) {
    .search_input {
        padding: 15px 30px;
        width: 343px;
        margin-top: 10px;
    }

    .search_input input {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .search_input {
        padding: 14px 28px;
        max-width: 100%;
    }

    .search_input input {
        font-size: 13px;
    }
}