.card_container {
    display: flex;
    flex-direction: column;
    width: 264px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 40px;
    background: var(--elements-background-color);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
}

.country_flag {
    width: 264px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.card_info_container {
    padding: 8px 25px 60px 25px;
}