.navigation_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 80px;
    background: var(--elements-background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  
.navigation_header {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    color: var(--text-color);
}
  
.toggle_button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: all 1s ease;
}
  
.toggle_button .icon {
    transition: transform 1s ease, margin 1s ease;
    transform: rotate(-18deg);
    margin-right: 8px;
}
  
.toggle_button .text {
    transition: transform 1s ease, margin 1s ease;
}
  
.toggle_button:hover .icon {
    order: 1;
    margin-left: 8px;
    margin-right: 0;
}
  
.toggle_button:hover .text {
    order: 0;
    margin-left: 0;
    margin-right: 8px;
}
  
.rotate {
    animation: rotateIcon 1s linear;
}
  
@keyframes rotateIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@media only screen and (max-width: 600px) {
    .navigation_container {
        padding: 15px 20px;
    }

    .navigation_header {
        font-size: 18px;
        line-height: 24px;
    }

    .toggle_button {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .navigation_container {
        padding: 20px 40px;
    }

    .navigation_header {
        font-size: 20px;
        line-height: 28px;
    }

    .toggle_button {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .navigation_container {
        padding: 22px 80px;
    }

    .navigation_header {
        font-size: 24px;
        line-height: 32.74px;
    }

    .toggle_button {
        font-size: 16px;
    }
}
