.navigation_container {
    display: flex;
    justify-content: space-between;
    padding: 22px 80px;
    background: var(--elements-background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navigation_header {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    color: var(--text-color);
}

.toggle_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);

    svg {
        margin-right: 8px;
        transform: rotate(-18deg);
    }
}

@media only screen and (max-width: 600px) {
    .navigation_container {
        padding: 15px 20px;
    }

    .navigation_header {
        font-size: 18px;
        line-height: 24px;
    }

    .toggle_button {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .navigation_container {
        padding: 20px 40px;
    }

    .navigation_header {
        font-size: 20px;
        line-height: 28px;
    }

    .toggle_button {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .navigation_container {
        padding: 22px 80px;
    }

    .navigation_header {
        font-size: 24px;
        line-height: 32.74px;
    }

    .toggle_button {
        font-size: 16px;
    }
}
